@media only screen and (max-width: 576px) {
    header {
        padding: 8px 13px;

    }

    nav>a:first-child button span {
        display: none;
    }

    nav>a:first-child button {
        border: none;
        padding: 0px 9px;
        display: flex;
    }

    nav>a:first-child button i {
        font-size: 30px;
        margin-right: 0px;
        padding: 2px 5px;
    }

    figure {
        max-width: 50px;
    }

    .themeBtn {
        padding: 10px 9px;
        font-weight: 500;
        margin-left: 3px;

    }

    /* hero-section --> */

    .hero-container {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 5fr;
        align-items: center;
        margin-top: 20px;

    }

    .Careersection {
        padding: 0px 10px;

    }

    .Careersection h2 {
        font-family: Inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        background-position: 30px 59px;


    }

    .Careersection p {

        font-size: 17px;
        padding-top: 90px;
        padding-bottom: 17px;

    }

    .Careersection ul li {
        width: 100%;
        height: auto;
        line-height: 30px;
        font-size: 14px;

    }

    .buttonrow {
        flex-direction: column;
    }



    .download {
        padding: 9px;
    }

    .download:hover {
        padding: 9px;

    }

    .formsection {
        padding: 20px;
        background-position-x: 51%;
        background-position-y: 16%;
        margin-top: 20px;
    }

    .formsection>form {
        padding-bottom: 20px;
        border-radius: 8px;
        padding-top: 25px;


    }

    .formsection form div {
        padding: 5px 20px;
    }
    section{
        background: #F7FAFF;
        width: 100%;
        padding: 30px 20px;
    }

    section h2{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        
        }
        section p{
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
        
        }
        .Highlightscontaner{
            display: grid;
            grid-template-columns: 30fr ;
            align-items: center;
            justify-content: center;
            margin: auto;
        }

        section button{
            margin-left: 25%;
            margin-top: 20px;
        }

}